<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <p><img src="https://images.unsplash.com/photo-1506656864462-fcc324490523?dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb" alt="space" class="img-responsive img-rounded" /></p>
    <h3>What?</h3>
    <p>
      This is a thing I'm building on Ruby on Rails. It's an open source right now - as if anyone would be interested...
    </p>
    <br>
  </div>
</div>
